::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #0062ff;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
